{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    照片墙
{% endblock %}

{% block css_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/photo.css' %}"/>
{% endblock %}

{% block left_content %}
    <div class="photo-album" id="photo">
        {% for photo in photos %}
                <div class="album-box">
                    <div class="album-content">
                        <img src="{{ photo.photo.url }}"/>
                        <p>{{ photo.info }}</p>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js_content %}
    <script src="{% static 'js/photo.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}